

.dish {
    width: 50%;
    height: auto;
    object-fit: cover;
    float:right;
}
.lassi {
    width: 50%;
    height: auto;
    object-fit: cover;
    float: left;
}

hr {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
  }
aside p {
    text-align: left;
}


